.header-box{
    color:#000000;
    text-align: left;
    margin-top: 1em;
    padding-top: 0.5em;
}
.title-box{
    width:100%;
    margin-bottom: 5%;
    background-color: #FFF;
    /*padding-left: 0.4em;*/
    /*font-size: 1.2em;*/
    padding: 0.2em 0.2em 0.2em 0.2em;
  }
  .description-box{
    width:100%;
    margin-bottom: 5%;
    background-color: #FFF;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  a{
    text-decoration: none;  
    font-style: italic;
    background-color: #000000;
    color: #5CE5FF;
    padding: 0.2em 0.2em 0.2em 0.2em;
  }
  
  .alt-a{
    color: #E6FF00;
    /*padding: 0.2em 0.2em 0.2em 0.2em;*/
  }
  
  .icons{
    background-color: black;
    padding: 0em;
    /*margin: 5em;*/
    /*text-align: center;*/

    
  }

  .i{
    width: 16px;
    background-color: black;
    padding-top: 0.3em;
    padding-left: 0.38em;
  }

  em{
    /*color: #00BBFF;*/
    color: #E6FF00;
    background-color:#000;
    padding-left: 0.4em;
    padding-right: 0.2em;
  }