.header-box{
    color:#000000;
    text-align: left;
    margin-top: 1em;
    padding-top: 0.5em;
}
.title-box{
    width:100%;
    margin-bottom: 5%;
    background-color: #FFF;
    /*padding-left: 0.4em;*/
    /*font-size: 1.2em;*/
    padding: 0.2em 0.2em 0.2em 0.2em;
  }
  .description-box{
    width:100%;
    margin-bottom: 5%;
    line-height: 1.8em;
    background-color: #FFF;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  a{
    text-decoration: none;
    font-style: italic;
    background-color: #000000;
    color: #5CE5FF;
    padding: 0.2em 0.2em 0.2em 0.2em;
  }

  .alt-a{
    color: #E6FF00;
    padding: 0.1em;
  }

  .icons{
    padding: 0.6em 0.4em 0.4em 0.4em;
  }

  .i{
    width: 16px;
  }

  em{
    color: #E6FF00;
    background-color:#000;
    padding-left: 0.4em;
    padding-right: 0.2em;
  }